<section class="contact">
  <div class="contact-content">
    <h2 class="section-title">Contact</h2>

    <mat-card class="contact-card">
      <div class="contact-item">
        <span class="label">Email</span>
        <a href="mailto:sm861302@gmail.com">sm861302@gmail.com</a>
      </div>

      <div class="contact-item">
        <span class="label">LinkedIn</span>
        <a
          href="https://linkedin.com/in/majumdar-shubham"
          target="_blank"
          rel="noopener"
        >
          linkedin.com/in/majumdar-shubham
        </a>
      </div>

      <div class="contact-item">
        <span class="label">GitHub</span>
        <a
          href="https://github.com/smajumdar22"
          target="_blank"
          rel="noopener"
        >
          github.com/smajumdar22
        </a>
      </div>
    </mat-card>
  </div>
</section>
